.button {
  display: inline-block;
}

.button--primary {
  background-color: var(--theme-primary-button);
  color: var(--theme-primary-button-text);
}
.button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: var(--theme-text-primary);
}
